<div class="row">

  <div class="col col-md-10 col-sm-12 centered-column">

    <div class="card card-nav-tabs text-center" id="register-card">
      <div class="card-header card-header-primary">
        Register
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">

            <div class="info">
              <div class="icon icon-primary">
                <i class="material-icons">calendar_today</i>
              </div>
              <h4 class=""></h4>
              <p class="text-dark">Have a total control and track of your expenses in a easy-to-use calendar.</p>
            </div>
            <div class="info">
              <div class="icon icon-primary">
                <i class="material-icons">attach_money</i>
              </div>
              <h4 class=""></h4>
              <p class="text-dark">Assign budget to categories, makes it easier to stick to your budget and also know
                when
                you are over budgeted!</p>
            </div>
            <div class="info">
              <div class="icon icon-primary">
                <i class="material-icons">description</i>
              </div>
              <h4 class=""></h4>
              <p class="text-dark">Take a look at your expenses and incomes in personalized reports at the end of each
                month.</p>
            </div>

          </div>
          <div class="col-sm-6">
            <div id="register-card-register">
              <p class="card-text">Create an account</p>
              <form [formGroup]="registerForm" (ngSubmit)="doRegisterWithAuthApi()">
                <div class="row">
                  <div class="col col-md-10 col-sm-12 centered-column">
                    <input type="text" class="form-control field-container"
                           formControlName="email"
                           placeholder="Email">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col col-md-5 offset-md-1">
                    <input type="text"
                           formControlName="firstName"
                           class="form-control field-container" placeholder="First name">
                  </div>
                  <div class="col col-md-5">
                    <input type="text"
                           formControlName="lastName"
                           class="form-control field-container" placeholder="Last name">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col col-md-10 col-sm-12 centered-column">
                    <input type="password"
                           formControlName="password"
                           class="form-control field-container" placeholder="Password">
                  </div>
                </div>
                <br>
                <button class="btn btn-primary btn-link">
                  Register
                </button>
              </form>
            </div>

            <!--            <hr>-->
            <!--            <div id="register-card-social">-->
            <!--              <p class="card-text">Or use :</p>-->
            <!--              <div class="row">-->
            <!--                <div class="col col-md-10 col-sm-12 centered-column">-->
            <!--                  <button class="btn google-btn btn-block" (click)="goToHomePage()">-->
            <!--                    Sign in with google-->
            <!--                  </button>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--              <div class="row">-->
            <!--                <div class="col col-md-10 col-sm-12 centered-column">-->
            <!--                  <button class="btn facebook-btn btn-block">-->
            <!--                    Sign in with Facebook-->
            <!--                  </button>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </div>-->

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
