#register-card {
  //height: 90%;

  #register-card-register {
    //height: 50%;
    top: 15%;
    position: relative;
  }

  #register-card-social {
    //height: 50%;
  }
}

.info {
  margin: 0;
  padding: 1em 0;
}
