<div id="auth-page">
  <div class="container">
    <div class="row">
      <div class="col col-sm-12">
        Welcome! Please <a (click)="loginClicked = true">Login</a> or <a (click)="loginClicked = false">Register</a> to
        continue
      </div>
    </div>
    <br>
    <div class="row">
      <div *ngIf="loginClicked" class="col col-md-8 col-sm-12 centered-column">
        <app-login>

        </app-login>
      </div>
      <div *ngIf="!loginClicked" class="col col-md-8 col-sm-12 centered-column">
        <app-register>

        </app-register>
      </div>
    </div>

  </div>
</div>
