/* You can add global styles to this file, and also import other style files */

@import "../node_modules/material-kit/assets/scss/material-kit";
@import '../node_modules/material-icons/iconfont/material-icons.css';

.text-center{
  text-align: center;
}

.centered-column{
  float: none;
  margin: 0 auto;
}

.facebook-btn{
  background: #3b5998;
  &.disabled{
    background: #888888;
    opacity: 0.5;
  }
  &.disabled:hover{
    cursor: default;
  }
  &:hover{
    background: #3b5998;
  }
}

.google-btn{
  background: #DB4437;
  &.disabled{
    background: #888888;
    opacity: 0.5;
  }
  &.disabled:hover{
    cursor: default;
  }
  &:hover{
    background: #DB4437;
  }
}

.error-snackbar{
  background: #DB4437;
  font-weight: bold;
}

.field-container{
  height: 8vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
